<li>{{link-to "Pop Spectrums" "pop-spectrums"}}</li>
<li>{{link-to "Rock Spectrums" "rock-spectrums"}}</li>
<li>{{link-to "Trance Spectrums" "trance-spectrums"}}</li>

<div class='segment-title'>
  {{ segmentTitle }}
</div>
{{yield}}
